@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,500;0,600;1,300;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tenali+Ramakrishna&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellota:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,500;0,600;0,700;1,500;1,600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins','Libre Baskerville','Raleway',sans-serif;
  scroll-behavior: smooth;
}
body{
  overflow-x: hidden;
  background: #f1f1f1;
  animation : FADE-OUT 1s ease;
}
:root{
  --heading-size : xx-large;
  --heading-med-size : x-large;
  --heading-small-size : x-large;
  --headingB-size : 1em;
  --headingB-med-size : 1em;
  --headingB-small-size : 0.8em;

  --card-view-para-size : 20px;
  --card-view-para2-size : 20px;
  --ol-li-ul-li-size : 1.8em;
  --info-wash-p-size : 2em;
  --drop-down-size :xx-large;
  --highlight-txt-size: 24px;

  --drop-down-padRight :100px;
}

/*---------------------------------- Sidebar -----------------------------------------*/
.sidebar{
  width: 350px;
  height: 100vh;
  display: flex;
  position: fixed;
  z-index: 99;
  top: 0;
  left: -300px;
  border-radius: 95%;
  box-sizing: border-box;
  /* background-image: linear-gradient(135deg,#000000,#e74c3c); */
  background-image: linear-gradient(135deg,rgb(10, 5, 80),#069494);
  transition: 0.5s ease;
  box-shadow: 0 0 20px rgba(128, 128, 128, 1);
}
.sidebar ul{
  margin-top: 3.5em;
  align-content: center;
  list-style: none;
  margin-left: 15px;
  width: 275px;
  overflow-wrap: normal;
  height: 100%;
  position: relative;
  top: 50px;
}
.sidebar ul li{
  line-height: 40px;
  border-bottom: 2px solid transparent;
  transition: 0.08s ease-in;
}
.sidebar ul li a{
  text-decoration: none;
  color: whitesmoke;
  transition: 0.4s ease;
  display: none;
  position: relative;
  font-size: large;
  border-radius: 10px;
  padding-left: 5px;
}
.sidebar ul li a:hover{
  background-color: rgba(128, 128, 128,0.6);
}
.sidebar ul li.active a{
  color: cyan;
  background-color: #1e1e1e;

}
.sidebar .page-content{
  top: 50%;
  position: relative;
  margin-left: 20px;
}
.sidebar .page-content i{
  animation: FADE-OUT 0.6s;
  font-size: 2.5em;
  display: block;
  transition: 0.3s linear;
  color: whitesmoke;
  cursor: pointer;
}
#chkb1{
  display: none;
}

#chkb1:checked ~ .sidebar{
  left: 0;
  border-radius: 0;
}
#chkb1:checked ~ .sidebar ul li{
  border-bottom-color:  rgba(128, 128, 128, 0.4);
}
#chkb1:checked ~ .sidebar ul li a{
  display: block;
}
#chkb1:checked ~ .sidebar .page-content i{
  transform: rotate(180deg);
}

@keyframes FADE-OUT{
  0%{
    opacity: 0;
  }  
  50%{
    opacity: 0.5;
  }
  100%{
    opacity: 1;
  }
}

/*---------------------------------- section of text -----------------------------------------*/

section{
  margin-top: 30px;
  /* min-width: 100%; */
  margin-left: 3em;
  min-height: 100vh;
  transition: margin-left 0.4s ease;
  /* position: absolute; */
}

section .container{
  width: 100%;
  height: 100%;
  /* display: relative; */
  /* box-sizing: border-box; */
  transition: 0.5s ease-in;
}
section .container p{
  padding-right: 100px;
}

#chkb1:checked ~ section{
  margin-left: 355px;
}
#chkb1:checked ~ section .container{
  padding-right: 50px;
  /* padding-right: 300px; */
}
.content-container-sub{
  padding-right: 50px;
}
/*----------------------- Heading styles---------------------*/
.heading{
  font-size: var(--heading-size);
  justify-content: left;
}
.heading::before{
  content: '\f61f';
  font-family: 'Font Awesome 5 free';
  font-size: var(--headingB-size);
  padding-right: 12px;
}

.heading-med{
  font-size: var(--heading-med-size);
}

.heading-med::before{
  content: '\f187';
  font-family: 'Font Awesome 5 free';
  font-size:  var(--headingB-med-size);
  padding-right: 12px;
}

.heading-small{
  font-size: var(--heading-small-size);
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
}

.heading-small::before{
  content: '\f111';
  font-family: 'Font Awesome 5 free';
  font-size: var(--headingB-small-size);
  padding-right: 12px;
  
}

/*--------------------- Content Style -------------------------------*/

.content-menu{
  margin-left: 3em;
  margin-top: 1em;
  display: flex;
}

.content-menu li{
  list-style: none;
  padding-right: 10px;
}
.content-menu li p{
  padding: 8px;
  border: 1.5px solid black;
  border-top-right-radius: 10px;
  transition: transform 0.4s ease;
  text-align: center;
  cursor: pointer;
}
.content-menu li:hover p{
  transform: scale(1.02);
  box-shadow: 0 0 5px rgba(128, 128, 128, 1);
}

.content-menu li.active p{
  border: none;
  color: white;
  background-image: linear-gradient(135deg,#17EAD9,#6078EA);
  box-shadow: 0 0 5px rgba(128, 128, 128, 1);
}

#closebtn, #closebtn2{
  display: none;
  transition: margin-left 0.4s ease;
}

.box{
  margin-top:20px;
  margin-left: 3em;
  min-width: 500px;
  width: auto;
  height: auto;
  box-sizing: content-box;
  border-radius: 10px;
  background-color: white;
  transition: 0.4s ease;
  border: 3px solid transparent;
  border-image: linear-gradient(135deg,#17EAD9,#6078EA);
  border-image-slice: 1;
  box-shadow: 0 0 10px rgba(128, 128, 128, 1);
  padding: 10px;
}
.text-area{
  padding:30px!important;
  height: auto; 
  min-width: 500px;
}


.card-view{
  margin: 30px;
  padding: 40px;
  margin-left: 3em;
  max-width: 900px;
  min-width: 500px;
  width: auto;
  height: auto;
  box-sizing: content-box;
  background-color: white;
  transition: 0.4s ease;
  border: 3px solid transparent;
  box-shadow: 0 0 10px rgba(128, 128, 128, 1);
}

.cardview2{
  margin: 20px;
  padding: 20px;
  max-width: 700px;
  min-width: 400px;
  width: auto;
  height: auto;
  box-sizing: content-box;
  background-color: rgba(0, 0, 0, 0.8) ;
  color: whitesmoke;
  transition: 0.4s ease;
  border: 2px solid transparent;
  box-shadow: 0 0 10px rgba(128, 128, 128, 1);
  float: right;
}
.card-view-para{
  margin-left:3em;
  padding-top: 1em;
  font-size: var(--card-view-para-size);
  font-weight: 400;
  font-family: 'Raleway',sans-serif;
}
.card-view2-para{
  margin-left: 20px;
  padding-top: 10px;
  font-size: var(--card-view-para2-size);
  font-family: 'Raleway',sans-serif;
}
/* ---------------------------------------- Image  and video styling ------------------------------------------------------------ */
#soapimg{
  float: right;
  shape-outside: circle();
  border-radius: 50%;
  margin: 2em;
  box-shadow: 0 0 8px rgba(128, 128, 128, 1);
}
#sanitizerimg{
  float: right;
  margin: 1em;
}
#alcohol-poisonimg{
  float: right;
  transform: translateY(-10%) translateX(30px);
  box-shadow: 0 0 5px rgba(128, 128, 128, 1);
  margin: 1em;
  margin-left: 2em!important;
}
#dirty-handsimg{
  float: left;
  border-radius: 50%;
  shape-outside: circle();
  box-shadow: 0 0 5px rgba(128, 128, 128, 1);
  transform: translateY(-18%);
  margin-right: 4em;
}
#pesticidesimg{
  transform: translateY(-30px);
  box-shadow: 0 0 5px rgba(128, 128, 128, 1);
  border-radius: 10px;
  float: right;
  margin: 1em;
}
#water-scarcityimg{
  transform: translateY(-15px);
  box-shadow: 0 0 5px rgba(128, 128, 128, 1);
  border-radius: 10px;
  float: left;
  margin: 1em;
  margin-right: 20px;
}
#soap-hand-wash, #sanitizer-img, #soapvid, #touchface1-img, #touchface2-img{
  border-radius: 10px;
  float: right;
  box-shadow: 0 0 8px rgba(128, 128, 128, 1);
  margin: 2em;
}


/*------------------------------------------------------------------------------------------------ */
ol li, ul li{
  padding-left: 30px;
  font-size: var(--ol-li-ul-li-size);
  line-height: 40px!important;
  font-family: 'Tenali Ramakrishna',sans-serif!important;
}

/*------------------------------------------------------------------------------------------------ */
#info_wash p{
  display: contents;
  /* width: 100%; */
  height: 100%;
  margin-top: 50px;
  margin-left: 50px;
  margin-bottom: 50px;
  line-height: 65px;
  letter-spacing: 2px;
  font-family: 'Libre Baskerville','Poppins','Raleway',sans-serif;
  font-weight: 700;
  font-size: var(--info-wash-p-size);
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  display: block;
}

/* --------------------------------------- view port display off --------------------------------------- */
#soap-wash, 
#sanitizer-wash{
  display: none;
}

#when-not-to-use-sanitizer,
#which-is-effective,
#avoid-touch-area{
  display: none;
}
/* -------------------------------------------------------------------------------------------------------- */

.border-up-low{
  padding-top: 10px;
  padding-bottom: 10px;
  transition: 0.4s ease;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-image: linear-gradient(135deg,#17EAD9,#6078EA);
  border-image-slice: 1;
}

.dorp-down{
  float: right;
  font-size: var(--drop-down-size);
  padding-right: var(--drop-down-padRight); 
  transform: translateY(4px);
  cursor: pointer;
  transition: transform 0.3s linear;
}
#not-use-btn.rotation, 
#effectiveness-btn.rotation,
#avoid-touch-btn.rotation{
  transform: translateY(4px);
  transform: rotateX(180deg);
} 


/* Pseudo space  */
.pseudo-space{
  width: 100%;
  height: 100px;
}
/* Highlight txt */
.highlight{
  text-transform: capitalize;
  font-weight: 700; 
  font-family:Luckiest Guy, sans-serif; 
  font-size: var(--highlight-txt-size);
}


/* ---------------------------------------- MEDIA QUERY ---------------------------------------- */

@media screen and (max-width : 1280px){

  :root{
    --heading-size : 1.9em;
    --heading-med-size : x-large;
    --heading-small-size : x-large;
    --headingB-size : 1em;
    --headingB-med-size : 1em;
    --headingB-small-size : 0.8em;
  
    --card-view-para-size : 20px;
    --card-view-para2-size : 20px;
    --ol-li-ul-li-size : 1.6em;
    --info-wash-p-size : 1.8em;
    --drop-down-size :xx-large;
    --highlight-txt-size: 20px;
  }
  .heading{
    text-align: center;
  }
  #soapvid, #sanitizerimg, .card-view2{
    display: block;
    position: relative;
    float: none;
    margin: 20px auto;
  }

  #chkb1:checked ~ section{
    margin-left: 0;
  }
}

@media screen and (max-width:1080px){
  :root{
    --info-wash-p-size : 1.6em;
  }
  #soapvid{
    width: 600px;
    height: 315px;
  }
  .dorp-down{
    padding-right: 10px;
  }
  #soapimg{
    display: block;
    position: relative;
    float: none;
    margin: 20px auto;
  }
  .text-area{
    padding:10px 20px!important;
    /* text-align: center; */
  }
  #info_wash p{
    margin: 10px 30px;
    text-align: center;
  }
}

@media screen and (max-width:924px){
  :root{
    --info-wash-p-size : 1.6em;
  }
  #effect-heading{
    font-size: 1.4em;
    letter-spacing: -1px;
  }
  #effectiveness-btn{
    font-size: 1.2em;
  }
  #soapvid{
    width: 500px;
    height: 315px;
  }
}

@media screen and (max-width:820px){
  :root{
    --heading-size : 1.9em;
    --heading-med-size : 1.4em;
    --heading-small-size : 1.2em;
    --headingB-size : 1em;
    --headingB-med-size : 1em;
    --headingB-small-size : 0.8em;
  
    --card-view-para-size : 20px;
    --card-view-para2-size : 20px;
    --ol-li-ul-li-size : 1.6em;
    --info-wash-p-size : 1.4em;
    --drop-down-size :1.2em;
    --highlight-txt-size: 16px;
  }
  .box{
    margin-left: 0;
  }
  .card-view, .cardview2{
    margin-left: 0;
    min-width: 300px;
  }

  #sanitizerimg, #alcohol-poisonimg, #soap-hand-wash, #sanitizer-img, 
  #soapvid, #pesticidesimg, 
  #touchface1-img, #touchface2-img, #water-scarcityimg{
    display: block;
    position: relative;
    float: none;
    margin: 20px auto;
  }
  #sanitizerimg, #soapvid{
    width: 350px;
    height: 250px;
  }
}

